button {
  position: absolute;
  left: 45%;
  top: 20px;
}
h1 {
 position: absolute;
 left: 35%;
 top: 35px;

}
.game{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 80vh;
  margin: auto;
  margin-top: 5%;
  pointer-events: none;
  visibility: hidden;
  
}
.active{
  pointer-events: all;
  visibility: visible;
}
.board {
  height: 25vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
#square-0,
#square-2,
#square-1,
#square-3,
#square-4,
#square-5,
#square-6,
#square-7,
#square-8,
#square-8,
#square-9,
#square-10,
#square-11,
#square-12,
#square-13,
#square-14,
#square-15 {
  display: flex;
  width: 23%;
  height: 25%;
  border: 1px solid black;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

